body {
	border: solid black 1px;
}
div#modernHeader {
	width: 100%;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
}

div#navbar {
	position: fixed;
	top: 3em;
	display: inline-block;
	width:90%;
		
}
div#navbar ul li {
	width: 100%;
	list-style-type: none;
	text-decoration: none;
	color: white;
	background-color: blue;
	padding: .35em;
	margin: 0 0 .15em 0;
	font-size: 1em;
	font-weight: 900;
	clear: both;
	
	
}
p#heading {
	color: white;
	font-weight: 900;
	margin-left: 2em;
}
div#main {
	position: absolute;
	top: 13em;
}
div#footerTest {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: black;
	color: white;
}
ul.customMarker {
	list-style-image: url("images/tv2.jpg");
}
table, th, td{
	border-collapse: collapse;
	border: solid black 1px;
}

img.textOnLeft {
	float: right;
	padding-left: 1em;
	padding-right: 1em;
}
img.block1 {
	margin-left: 2em;
}
p.noWrap {
	clear: both;
	padding-top: 1em;
}
