body {
	font-family: arial;
}
div#modernHeader {
	z-index: 1;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	clear:both;
	background-color: #C0C0C0;
}
div#navbar {
	display: block;
	position: fixed;
	top: 2.5em;
	clear: both;
	z-index: 2;
	left: 0;
	width: 100%;
	background-color: #d3d3d3;
}
div#navbar ul{
	list-style-type: none;
	padding-left: 0;
	display: inline-block;
}

div#navbar ul li a {
	color: white;
	text-decoration: none;
	font-weight: 900;
}
div#navbar ul li {
	padding: .3em 2em .3em 1em;
	background-color: blue;
	margin: 0 0 .25em .25em;
}
		
}
p#heading {
	color: white;
	font-weight: 900;
	margin-left: 2em;
}
div#main {
	position: absolute;
	top: 13.5em;
	
}
div#footerTest {
	z-index: 3;
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: black;
	color: white;
}
ul.customMarker {
	list-style-image: url("images/tv2.jpg");
}
table, th, td{
	border-collapse: collapse;
	border: solid black 1px;
}

img.textOnLeft {
	float: right;
	padding-left: 1em;
	padding-right: 1em;
}
img.block1 {
	margin-left: 2em;
}
p.noWrap {
	clear: both;
	padding-top: 1em;
}
